.shortcut-wrapper {
  @apply p-4;
  width: max-content;
}

.shortcut-wrapper > .shortcut-group {
  @apply grid;
  @apply grid-cols-2;
  @apply gap-0;
}

.shortcut-wrapper > .shortcut-group > .shortcut-list {
  @apply grid;
  @apply gap-2;
}

.shortcut-wrapper > .shortcut-group > .shortcut-list > .shortcut {
  @apply flex;
  @apply gap-4;
  @apply items-center;
}

.shortcut-wrapper > .shortcut-group > .shortcut-list > .shortcut > .keyboards {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply gap-1;
}

.keyboard {
  @apply p-3;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply text-gray-400;
  @apply dark:text-gray-300;
  @apply text-xs;
  @apply border;
  @apply border-gray-400;
  @apply dark:border-gray-300;
  @apply rounded-[0.25rem];
  @apply w-5;
  @apply h-5;
}

.option,
.plus,
.alt {
  @apply text-gray-400;
  @apply dark:text-gray-300;
}

.option::after {
  font-family: "Material Icons", serif;
  content: "\eae8";
  font-size: 15px;
}

.plus::after {
  font-family: "Material Icons", serif;
  content: "\e145";
  font-size: 15px;
}

.alt::after {
  content: "Alt";
  font-size: 12px;
}

.description {
  @apply text-xs;
  @apply text-slate-500;
  @apply font-semibold;
  @apply dark:text-slate-300;
}
