@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-background {
  @apply opacity-0;
  @apply fixed;
  @apply z-30;
  @apply left-0;
  @apply right-0;
  @apply top-0;
  @apply bottom-0;
  @apply mx-auto;
  @apply bg-black/60;
  animation: fadeIn 0.2s ease forwards;
}

.modal-background.is-hiding {
  animation: fadeOut 0.2s ease forwards;
}

.modal {
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply absolute;
  @apply top-1/2;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply sm:w-10/12;
  @apply max-sm:w-10/12;
  @apply md:w-8/12;
  @apply lg:w-1/3;
  @apply rounded-lg;
  @apply overflow-hidden;
}

.modal > .header {
  @apply flex;
  @apply justify-between;
  @apply items-center;
  @apply px-6;
  @apply py-3;
}

.modal > .header > .title {
  @apply font-bold;
  @apply text-gray-500;
  @apply text-xl;
}

.modal > .header > .close-button {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply rounded-full;
  @apply p-1;
  @apply text-gray-400;
  @apply opacity-75;
  @apply hover:opacity-100;
  @apply outline-none;
}

.modal > hr {
  @apply border-gray-200;
  @apply mx-5;
}

.modal > .content {
  @apply container;
  @apply -mb-1;
}
