.main-header {
  @apply h-[--var-header-height];
}

.main-header > .navbar {
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply w-full;
  @apply h-full;
  @apply bg-slate-50;
  @apply dark:bg-gray-900;
  @apply px-36;
}

.main-header > .navbar > .logo {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
