@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  @apply container;
  @apply mx-auto;
  @apply h-full;
  @apply flex;
  @apply flex-col;

  height: auto;
  min-height: calc(100% - 120px);
}
