@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.confirm-background {
  @apply opacity-0;
  @apply fixed;
  @apply z-40;
  @apply left-0;
  @apply right-0;
  @apply top-0;
  @apply bottom-0;
  @apply mx-auto;
  @apply bg-black/35;
  @apply dark:bg-black/65;
  animation: fadeIn 0.2s ease forwards;
}

.confirm-background.is-hiding {
  animation: fadeOut 0.2s ease forwards;
}

.confirm {
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply absolute;
  @apply top-1/2;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply min-w-[400px];
  @apply max-w-[480px];
  @apply rounded-lg;
  @apply overflow-hidden;
  @apply shadow-2xl;
}

.confirm > .header {
  @apply dark:bg-gray-800;
  @apply flex;
  @apply justify-between;
  @apply items-center;
  @apply h-12;
  @apply px-4;
  @apply py-2;
}

.confirm > .header > .title {
  @apply font-bold;
  @apply text-gray-500;
  @apply text-base;
  @apply dark:text-white/75;
}

.confirm > .header > .close-button {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply rounded-full;
  @apply p-1;
  @apply text-gray-400;
  @apply opacity-75;
  @apply hover:opacity-100;
}

.confirm > hr {
  @apply border-gray-200;
  @apply mx-4;
}

.confirm > .content {
  @apply container;
  @apply px-4;
  @apply py-3;
}

.confirm > .content > .message {
  @apply text-gray-500;
  @apply min-h-8;
  @apply mb-4;
  @apply dark:text-white/75;
}

.confirm > .content > .buttons-wrapper {
  @apply flex;
  @apply w-full;
  @apply justify-end;
}

.confirm > .content > .buttons-wrapper > .buttons {
  @apply flex;
  @apply flex-wrap;
  @apply gap-2;
}

.confirm > .content > .buttons-wrapper > .buttons > .button {
  @apply min-w-20;
  @apply py-1.5;
  @apply px-3;
  @apply text-xs;
}
