@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.notification-background {
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply right-0;
  @apply bottom-0;
  @apply pointer-events-none;
  @apply z-40;
}

.notification-wrapper {
  @apply flex;
  @apply w-full;
}

.notification-wrapper.is-left {
  @apply justify-start;
}

.notification-wrapper.is-center {
  @apply justify-center;
}

.notification-wrapper.is-right {
  @apply justify-end;
}

.notification {
  @apply relative;
  @apply flex;
  @apply items-center;
  @apply rounded-lg;
  @apply m-4;
  @apply z-40;
  @apply max-sm:rounded-none;
  @apply max-sm:m-0;
  @apply max-sm:w-full;
  @apply sm:w-full;
  @apply md:w-1/2;
  @apply lg:w-1/4;
  @apply shadow-2xl;
  @apply transition;
  @apply duration-300;
  @apply p-2;
  @apply min-h-16;
  height: max-content;
}

.notification-wrapper.is-left > .notification {
  animation: fadeInLeft 0.5s ease;
}

.notification-wrapper.is-left > .notification.fade-out {
  animation: fadeOutRight 0.5s ease;
}

.notification-wrapper.is-center > .notification {
  animation: fadeInDown 0.5s ease;
}

.notification-wrapper.is-center > .notification.fade-out {
  animation: fadeOutUp 0.5s ease;
}

.notification-wrapper.is-right > .notification {
  animation: fadeInRight 0.5s ease;
}

.notification-wrapper.is-right > .notification.fade-out {
  animation: fadeOutLeft 0.5s ease;
}

.notification.is-success {
  @apply bg-green-500;
  @apply text-white;
  @apply dark:bg-green-700;
}

.notification.is-danger {
  @apply bg-red-500;
  @apply text-white;
  @apply dark:bg-red-700;
}

.notification.is-info {
  @apply bg-sky-500;
  @apply text-white;
  @apply dark:bg-sky-700;
}

.notification.is-warning {
  @apply bg-yellow-500;
  @apply text-white;
  @apply dark:bg-yellow-600;
}

.notification-content {
  @apply pointer-events-auto;
  @apply pl-4;
  @apply flex;
  @apply items-center;
  @apply w-full;
  @apply h-full;
}

.notification-content > .message {
  @apply w-full;
  @apply ml-4;
  @apply text-white;
  @apply font-medium;
}

.notification-close-button {
  @apply pointer-events-auto;
  @apply flex;
  @apply items-center;
  @apply opacity-0;
  @apply hover:opacity-100;
  @apply pr-4;
  @apply transition;
  @apply duration-300;
  @apply cursor-pointer;
}

.notification-content:hover ~ .notification-close-button {
  @apply opacity-50;
}
