.string-search-wrapper {
  @apply absolute;
  @apply top-[--var-string-list-header-hight];
  @apply w-full;
  @apply h-fit;
  @apply bg-white;
  @apply dark:bg-gray-800;
  @apply z-10;
  @apply ring-1;
  @apply ring-black/5;
  @apply rounded-b-lg;
  @apply shadow-lg;
  @apply hidden;
  @apply dark:ring-white/20;
}

.string-search-wrapper.is-active {
  @apply block;
}

.string-search-wrapper > .string-search {
  @apply grid;
  @apply gap-4;
  @apply p-4;
}

.string-status-group {
  @apply flex;
  @apply gap-1.5;
  @apply flex-wrap;
}

.string-status-group > .string-status {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply w-auto;
  @apply rounded-full;
  @apply outline-slate-400;
}

.string-status-group > .string-status > input {
  @apply hidden;
}

.string-status-group > .string-status.is-completed {
  @apply outline-teal-300;
}

.string-status-group > .string-status.is-progress {
  @apply outline-yellow-300;
}

.string-status-group > .string-status.is-updated {
  @apply outline-red-300;
}

.string-status-group > .string-status.is-completed {
  @apply outline-teal-300;
}

.string-status-group > .string-status > label {
  @apply border;
  @apply border-gray-300;
  @apply text-gray-400;
  @apply dark:border-slate-600;
  @apply dark:text-slate-600;
  @apply rounded-full;
  @apply w-full;
  @apply text-center;
  @apply cursor-pointer;
  @apply py-1;
  @apply px-2;
  @apply font-semibold;
  @apply leading-4;
  @apply text-sm;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.string-status-group > .string-status > input + label:hover {
  @apply opacity-80;
  @apply border-slate-500;
  @apply text-slate-500;
  @apply ring-1;
  @apply ring-slate-300;
  @apply dark:text-gray-400;
  @apply dark:ring-slate-200/50;
}

.string-status-group > .string-status > input:checked + label {
  @apply border-slate-600;
  @apply text-slate-600;
  @apply dark:border-gray-400;
  @apply dark:text-gray-400;
}

.string-status-group > .string-status.is-completed > input + label:hover {
  @apply border-teal-400;
  @apply text-teal-400;
  @apply ring-1;
  @apply ring-teal-200;
  @apply dark:ring-teal-500/50;
}

.string-status-group > .string-status.is-completed > input:checked + label {
  @apply border-teal-500;
  @apply text-teal-500;
}

.string-status-group > .string-status.is-progress > input + label:hover {
  @apply border-yellow-400;
  @apply text-yellow-400;
  @apply ring-1;
  @apply ring-yellow-200;
  @apply dark:ring-yellow-300/50;
}

.string-status-group > .string-status.is-progress > input:checked + label {
  @apply border-yellow-500;
  @apply text-yellow-500;
}

.string-status-group > .string-status.is-updated > input + label:hover {
  @apply border-red-400;
  @apply text-red-400;
  @apply ring-1;
  @apply ring-red-200;
  @apply dark:ring-red-400/50;
}

.string-status-group > .string-status.is-updated > input:checked + label {
  @apply border-red-500;
  @apply text-red-500;
}
