.translator {
  @apply h-full;
  @apply w-full;
  @apply border;
  @apply border-gray-300;
  @apply rounded-lg;
  @apply px-4;
  @apply pt-4;
  @apply pb-8;
  @apply relative;
}

.translator.is-original-text {
  @apply bg-gray-100;
  @apply dark:bg-gray-700;
}

.translator.is-preview {
  @apply bg-slate-700;
  @apply dark:bg-slate-900;
}

.translator.is-disabled {
  @apply pointer-events-none;
  @apply opacity-60;
}

.translator.is-focused {
  @apply border-sky-300;
  @apply ring-2;
  @apply ring-sky-100;
  @apply [&>.translator-header]:text-sky-400;
  @apply dark:border-sky-500;
  @apply dark:ring-sky-800/50;
  @apply dark:[&>.translator-header]:text-sky-500;
}

.translator > .translator-header {
  @apply mb-2.5;
  @apply text-xs;
  @apply text-gray-400;
}

.translator > .translator-footer {
  @apply w-full;
  @apply absolute;
  @apply bottom-2;
  @apply right-0;
  @apply px-4;
}

.translator > .translator-footer > .translator-footer-functions {
  @apply flex;
  @apply items-center;
  @apply justify-end;
}

.translator > .original-text {
  @apply w-full;
  @apply text-slate-500;
  @apply bg-transparent;
  @apply break-all;
  @apply resize-none;
  @apply outline-none;
  @apply dark:text-slate-300;
}

.translator > .same-translated-text-list-wrapper {
  @apply mt-3;
  @apply pt-3;
  @apply border-t;
  @apply border-gray-300;
}

.translator > .same-translated-text-list-loading {
  @apply absolute;
  @apply top-3;
  @apply right-3;
  @apply [&>svg]:animate-spin;
  @apply [&>svg]:text-slate-300;
  @apply [&>svg]:w-[18px];
  @apply [&>svg]:h-[18px];
}

.translator
  > .same-translated-text-list-wrapper
  > .same-translated-text-header {
  @apply text-xs;
  @apply text-right;
  @apply font-semibold;
  @apply mb-1;
  @apply pr-1.5;
  @apply text-slate-500/80;
}

.translator > .same-translated-text-list-wrapper > .same-translated-text-list {
  @apply grid;
  @apply grid-cols-1;
  @apply md:grid-cols-2;
  @apply lg:grid-cols-2;
  @apply xl:grid-cols-3;
  @apply 2xl:grid-cols-4;
  @apply gap-2;
}

.translator
  > .same-translated-text-list-wrapper
  > .same-translated-text-list
  > .same-translated-text-list-item {
  @apply px-1.5;
  @apply py-1;
  @apply rounded-md;
  @apply hover:bg-gray-200;
  @apply hover:dark:bg-gray-800/50;
  @apply hover:cursor-pointer;
  @apply flex;
  @apply justify-between;
  @apply items-center;
}

.translator
  > .same-translated-text-list-wrapper
  > .same-translated-text-list
  > .same-translated-text-list-item
  > .same-translated-text {
  @apply block;
}

.translator
  > .same-translated-text-list-wrapper
  > .same-translated-text-list
  > .same-translated-text-list-item
  > .same-translated-text
  > .project-title {
  @apply text-xs;
  @apply text-slate-400;
  @apply dark:text-slate-300;
}

.translator
  > .same-translated-text-list-wrapper
  > .same-translated-text-list
  > .same-translated-text-list-item
  > .same-translated-text
  > .translated-text {
  @apply text-[0.95rem];
  @apply leading-6;
  @apply text-slate-500;
  @apply dark:text-slate-400;
  @apply overflow-hidden;
  @apply line-clamp-1;
  @apply text-ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.translator
  > .same-translated-text-list-wrapper
  > .same-translated-text-list
  > .same-translated-text-list-item
  > .move-project-button {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply p-0.5;
  @apply z-10;
  @apply text-slate-500;
  @apply dark:text-slate-400;
  @apply hover:text-sky-400;
  @apply dark:hover:text-sky-500;
}

.translator > .translate-text {
  @apply w-full;
  @apply text-slate-500;
  @apply resize-none;
  @apply break-all;
  @apply outline-none;
  @apply bg-transparent;
  @apply dark:text-slate-200;
}

.translator > .translate-text:disabled {
  @apply cursor-not-allowed;
}

.comment {
  @apply absolute;
  @apply top-1/2;
  @apply left-1/2;
  @apply -translate-y-1/2;
  @apply -translate-x-1/2;
  @apply bg-white;
  @apply rounded-lg;
  @apply shadow-xl;
  @apply ring-1;
  @apply ring-black/5;
  @apply dark:ring-white/20;
  @apply z-10;
  @apply px-3;
  @apply pb-2;
  @apply max-w-[80%];
  @apply h-fit;
  @apply max-h-[80%];
  @apply overflow-auto;
  @apply dark:bg-gray-700;
  width: max-content;
}

.comment > .header {
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply pt-2;
  @apply mb-2;
}

.comment > .header > .label {
  @apply text-gray-400;
  @apply text-xs;
  @apply mb-0;
  @apply dark:text-gray-200;
}

.comment > .header > .close {
  @apply rounded-full;
  @apply text-gray-400;
  @apply opacity-75;
  @apply hover:opacity-100;
  @apply outline-none;
  @apply focus:opacity-100;
  @apply h-4;
  @apply w-4;
  @apply dark:text-gray-200;
}

.comment > .content {
  @apply border;
  @apply border-gray-300;
  @apply bg-slate-100;
  @apply dark:bg-slate-700;
  @apply dark:border-gray-500;
  @apply px-3;
  @apply py-2;
  @apply rounded-lg;
  @apply text-sm;
  @apply text-left;
  @apply text-slate-500;
  @apply dark:text-slate-300;
  @apply font-semibold;
}
